:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DEEFFA;

}

.my-input {
    display: flex;
    min-width: 170px;
    min-height: 25px;
    background-color: #DEEFFA;
    border: none;
    border-radius: 5px;

}

.my-btn {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    min-width: 170px;
    min-height: 25px;
    background-color: #DEEFFA;
}

.my-btn:hover {
    background-color: #afbcc5;
}

div {
    margin-top: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: none;
    border-radius: 10px;
    background-color: #9ECA90;
}

.block.inputForm {
    gap: 5px;
    padding: 15px;
    padding-bottom: 20px;
}

.desc {
    padding: 10px;
}